.container {
    align-items: center;
    border: 5px solid rgb(203, 243, 255);
    height: 769px;
    width: 1080px;
    margin-left: auto;
    margin-right: auto;
}

body {
    text-align: center;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    background-color: lightblue;

}

audio {
    display: none;
    
}


a {
    text-decoration: none;
    color: inherit;
}

#knapp{
    background-color: #fffbed;
    font-size: 50px;
    padding: 20px 40px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 20px;
}

#knapp:hover {
    background-color: greenyellow;
}

#tekst-box1 {
    background-color: #fffbed;
    padding: 20px;
    border-radius: 12px;
    margin: 20px auto;
    width: 40%;
}

.pakke {
    position: absolute;
    width: 200px;
    height: 200px;
    margin: 40px auto;
    top: 50%;
    left: 43%;
}

.firkant {
    width: 100%;
    height: 70%;
    background-color: #ff69b4;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.bånd {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 20%;
    height: 70%;
    background-color: #8b0000;
    border-radius: 10px;
}

.bånd2 {
    position: absolute;
    top: -3%;
    left: 40%;
    width: 20%;
    height: 25%;
    background-color: #8b0000;
    border-radius: 10px;
    transform: translateY(-50%);
}


.lokk {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 22%;
    background-color: #ff69b4;
    border-radius: 20px 20px 0 0;
}

.sløyfe {
    width: 50%;
    mix-blend-mode: multiply;
    position: absolute;
    top: -50%;
    left: 12%;

    
}

.ballonger {
    mix-blend-mode: multiply;
    width: 100%;
    height: 200px;
}

.dancing {
    mix-blend-mode: multiply;
    border-radius: 100%;
    animation: bounce 3s infinite;
}

.gif {
    border-radius: 100%;
}
.pil {
    position: absolute;
    rotate: 180deg;
    width: 100px;
    animation: bounce 3s infinite;
    left: 30%;
    top: 30%;

}

.dancing-text {
    position: absolute;
    color: black;
    top: 30%;
    left: 5%;
   
}

@keyframes bounce {

    0%, 100% {transform: translateX(-5%); }
    50% { transform: translateX(42%); }

}