

body {
    text-align: center;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    background-color: lightblue;
}

audio {
    display: none;
    
}

#ja-knapp, #nei-knapp, #tilbake-knapp {
    background-color: #fffbed;
    font-size: 50px;
    padding: 20px 40px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 20px;
}


#nei-knapp:hover {
    background-color: lightcoral;
}


#ja-knapp:hover {
    background-color: lightgreen;
}

#tilbake-knapp {
    margin-top: 20px;
}

#bursdagskake {
    width: 500px;
    animation: bursdag 1s ease-out forwards;

}

@keyframes bursdag {
    0% { padding-top: 150%;}
    100% { padding-top: 0%;}
}

.pakke {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 40px auto;
}

.firkant {
    width: 100%;
    height: 70%;
    background-color: #ff69b4;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.bånd {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 20%;
    height: 70%;
    background-color: #8b0000;
    border-radius: 10px;
}

.bånd2 {
    position: absolute;
    top: -3%;
    left: 40%;
    width: 20%;
    height: 25%;
    background-color: #8b0000;
    border-radius: 10px;
    transform: translateY(-50%);
}


.lokk {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 22%;
    background-color: #ff69b4;
    border-radius: 20px 20px 0 0;
}

.sløyfe {
    mix-blend-mode: multiply;
    position: absolute;
    top: -55%;
    left: 30%;
    transform: translateX(-50%);
    
}

.lokk, .sløyfe, .bånd2 {
    cursor:pointer
}


.sløyfe:hover{
    animation: lokk-open 0.5s ease-out ;
}


@keyframes lokk-open {
    0% { opacity: 1;}
    100% { opacity: 0;}
}



